plink.GRCh38.map.zip
plink.chr1.GRCh38.map
plink.chr10.GRCh38.map
plink.chr11.GRCh38.map
plink.chr12.GRCh38.map
plink.chr13.GRCh38.map
plink.chr14.GRCh38.map
plink.chr15.GRCh38.map
plink.chr16.GRCh38.map
plink.chr17.GRCh38.map
plink.chr18.GRCh38.map
plink.chr19.GRCh38.map
plink.chr2.GRCh38.map
plink.chr20.GRCh38.map
plink.chr21.GRCh38.map
plink.chr22.GRCh38.map
plink.chr3.GRCh38.map
plink.chr4.GRCh38.map
plink.chr5.GRCh38.map
plink.chr6.GRCh38.map
plink.chr7.GRCh38.map
plink.chr8.GRCh38.map
plink.chr9.GRCh38.map
plink.chrX.GRCh38.map
plink.chrX_par1.GRCh38.map
plink.chrX_par2.GRCh38.map
