export external_data=/well/ckb/users/aey472/projects/ckb_popgen/data/external_data
export ckb_external_data=/well/ckb/users/aey472/projects/ckb_popgen/data/CKB_external
export painting_output=/well/ckb/users/aey472/projects/ckb_popgen/data/painting_output
export programs=/well/ckb/users/aey472/projects/ckb_popgen/programs
export rc_data=/well/ckb/users/aey472/projects/ckb_popgen/data/other_files/metadata
export chromopainter_dir=/well/ckb/users/aey472/projects/ckb_popgen/data/chromopainter
export genmaps=/well/ckb/users/aey472/projects/ckb_popgen/data/other_files/gen_maps
export mosaic_data=/well/ckb/users/aey472/projects/ckb_popgen/data/MOSAIC
export finestructure_output=/well/ckb/users/aey472/projects/ckb_popgen/data/finestructure_output
export metadata=/well/ckb/users/aey472/projects/ckb_popgen/data/other_files/metadata

### files ####
rel_free=/well/ckb/shared/filesystem/metadata/sample_inclusion_exclusion_lists/relative_free/rel_free.ls
