m4_b38_qced_1.vcf.gz
m4_b38_qced_1.vcf.gz.csi
m4_b38_qced_10.vcf.gz
m4_b38_qced_10.vcf.gz.csi
m4_b38_qced_11.vcf.gz
m4_b38_qced_11.vcf.gz.csi
m4_b38_qced_12.vcf.gz
m4_b38_qced_12.vcf.gz.csi
m4_b38_qced_13.vcf.gz
m4_b38_qced_13.vcf.gz.csi
m4_b38_qced_14.vcf.gz
m4_b38_qced_14.vcf.gz.csi
m4_b38_qced_15.vcf.gz
m4_b38_qced_15.vcf.gz.csi
m4_b38_qced_16.vcf.gz
m4_b38_qced_16.vcf.gz.csi
m4_b38_qced_17.vcf.gz
m4_b38_qced_17.vcf.gz.csi
m4_b38_qced_18.vcf.gz
m4_b38_qced_18.vcf.gz.csi
m4_b38_qced_19.vcf.gz
m4_b38_qced_19.vcf.gz.csi
m4_b38_qced_2.vcf.gz
m4_b38_qced_2.vcf.gz.csi
m4_b38_qced_20.vcf.gz
m4_b38_qced_20.vcf.gz.csi
m4_b38_qced_21.vcf.gz
m4_b38_qced_21.vcf.gz.csi
m4_b38_qced_22.vcf.gz
m4_b38_qced_22.vcf.gz.csi
m4_b38_qced_3.vcf.gz
m4_b38_qced_3.vcf.gz.csi
m4_b38_qced_4.vcf.gz
m4_b38_qced_4.vcf.gz.csi
m4_b38_qced_5.vcf.gz
m4_b38_qced_5.vcf.gz.csi
m4_b38_qced_6.vcf.gz
m4_b38_qced_6.vcf.gz.csi
m4_b38_qced_7.vcf.gz
m4_b38_qced_7.vcf.gz.csi
m4_b38_qced_8.vcf.gz
m4_b38_qced_8.vcf.gz.csi
m4_b38_qced_9.vcf.gz
m4_b38_qced_9.vcf.gz.csi
sgdp_hgdp_1kGP.chr1.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr1.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr1.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr1.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr1.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr1.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr10.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr10.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr10.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr10.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr10.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr10.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr11.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr11.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr11.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr11.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr11.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr11.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr12.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr12.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr12.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr12.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr12.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr12.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr13.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr13.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr13.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr13.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr13.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr13.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr14.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr14.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr14.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr14.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr14.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr14.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr15.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr15.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr15.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr15.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr15.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr15.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr16.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr16.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr16.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr16.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr16.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr16.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr17.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr17.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr17.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr17.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr17.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr17.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr18.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr18.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr18.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr18.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr18.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr18.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr19.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr19.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr19.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr19.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr19.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr19.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr2.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr2.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr2.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr2.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr2.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr2.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr20.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr20.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr20.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr20.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr20.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr20.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr21.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr21.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr21.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr21.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr21.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr21.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr22.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr22.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr22.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr22.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr22.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr22.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr3.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr3.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr3.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr3.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr3.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr3.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr4.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr4.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr4.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr4.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr4.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr4.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr5.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr5.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr5.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr5.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr5.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr5.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr6.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr6.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr6.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr6.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr6.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr6.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr7.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr7.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr7.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr7.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr7.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr7.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr8.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr8.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr8.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr8.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr8.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr8.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP.chr9.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.log
sgdp_hgdp_1kGP.chr9.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP.chr9.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz.csi
sgdp_hgdp_1kGP.chr9.AllChr.CKB_snps.GT.no_duplicates.rmdup.vcf.gz
sgdp_hgdp_1kGP.chr9.AllChr.CKB_snps.GT.no_duplicates.vcf.gz
sgdp_hgdp_1kGP.chr9.AllChr.CKB_snps.GT.no_duplicates.vcf.gz.csi
sgdp_hgdp_1kGP_CKB.chr1.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr1.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr1.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr10.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr10.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr10.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr11.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr11.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr11.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr12.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr12.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr12.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr13.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr13.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr13.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr14.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr14.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr14.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr15.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr15.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr15.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr16.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr16.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr16.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr17.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr17.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr17.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr18.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr18.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr18.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr19.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr19.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr19.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr2.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr2.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr2.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr20.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr20.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr20.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr21.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr21.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr21.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr22.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr22.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr22.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr3.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr3.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr3.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr4.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr4.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr4.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr5.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr5.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr5.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr6.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr6.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr6.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr7.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr7.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr7.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr8.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr8.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr8.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
sgdp_hgdp_1kGP_CKB.chr9.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.log
sgdp_hgdp_1kGP_CKB.chr9.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.phased.vcf.gz
sgdp_hgdp_1kGP_CKB.chr9.AllChr.CKB_snps.GT.no_duplicates.rmdup.conformed.vcf.gz
